<html>
    <head>
        <title>{{ title }} - Microblog</title>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='socketio_1.3.6.js') }}"></script>       
    </head>
    <body>      
            <p id="sandbox_res"></p>
        <h1>Hello</h1>
        <input type="hidden" name="user_id" id="user_id" value={{user_id}} />
        <div class="popup"id="myPopup_dom" >
        </div>
        
        <main class="main_container">
            <div class ="play_space">
                <h2> game_playground </h2>
                <div class="playground">
                    <div class="ball"></div>
                    <div class = "left-goalkeeper goalkeeper"></div>
                    <div class = "right-goalkeeper goalkeeper"></div>
                </div>
            </div>
            <div class ="code_space">
                <select id="Game" class="form-control"onChange="changeGame()">
                    <option>choose game name</option>
                    {% for gameId,gameName,gameDescript in glist[0] %}
                    <option value={{gameId}}>{{ gameName }}({{ gameDescript }})</option>
                    {% endfor %}
                </select>
                <select id="mode" class="form-control"onChange="changeMode()">
                        <option>choose language</option>
                </select>
                <form enctype="multipart/form-data">
                    <input class="btn btn-info" id="chooseFile" type="file"  accept=".sav" >
                </form>
                <button id="retry" onClick="window.location.reload();">retry</button>
                <div id="game_code">
                    <pre id="editor" style="height:255px"></pre>
                </div>
                <br>
                <p>commit msg</p>
                <input type="text" style="width: 300px" name="commit_msg" id="commit_msg">
                <button class="btn-primary" id="commit_btn" onclick="commit_code()"> Commit Code</button>
                <script>
                    document.getElementById("commit_msg").value=new Date().toLocaleString();
                </script>
            </div>
        
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js" type="text/javascript" charset="utf-8"></script>
        </script>
        <script src="{{ url_for('static', filename='editor_js.js') }}"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='pingpong.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='gameover.css') }}">
    </body>
</html>